<section data-stellar-background-ratio="0.5" data-stellar-vertical-offset="-76" class="iphone-cover butcher-promo">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-6">
        <h1>Welcome to The Butcher's Market<br>Meat &amp; Deli</h1>
        <p class="lead large hidden-xs">Small town service. Big city selection.</p>
        <div class="visible-xs-block">
          {{> store-hours}}
        </div>
        <a href="https://www.facebook.com/thebutchersmarket" class="btn btn-default">Like us on Facebook</a>
        <div class="hidden-xs">
          {{> store-hours}}
        </div>
      </div>
      <div class="col-md-6 hidden-xs">
        <div class="promo-wrapper">
          <div class="iphone-gallery-wrapper">
            <div data-loop="true" data-autoplay="4000" data-nav="false" class="fotorama">
              <img src="{{assets}}/images/screen1.jpg" alt="Screen shot 1">
              <img src="{{assets}}/images/screen2.jpg" alt="Screen shot 2">
              <img src="{{assets}}/images/screen3.jpg" alt="Screen shot 3">
            </div>
          </div>
          <div class="iphone">
            <img src="{{assets}}/images/iPhone_bg2.png" alt="iPhone gallery background" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-6 visible-xs-block">
        <ul class="list-inline mobile-app-downloads">
          <li>
            <a href="#">
              <img src="{{assets}}/images/app-store.png" alt="iOS app store" width="150px" height="45px">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="{{assets}}/images/google-play.png" alt="Android app" width="150px" height="45px">
            </a>
          </li>
        </div>
      </div>
    </div>
  </div>
</section>
