<div class="review-item text-center">
  <img src="{{assets}}/{{image}}" alt="Review person" class="img-circle">
  <p class="review-text">"{{text}}"</p>
  <cite>{{reviewer}}, <a href="{{url}}" target="_blank"><i>{{source}}</i></a></cite>
</div>
